{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

    {% block main %}
        <h1>{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>

        {{ include('admin/blog/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    {% endblock %}

    {% block sidebar %}
        <div class="section">
            <a href="{{ path('admin_post_show', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_post'|trans }}
            </a>
        </div>

        <div class="section actions">
            {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
        </div>

        {#   {{ parent() }}#}

        {{ show_source_code(_self) }}
    {% endblock %}
