{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

    {% block main %}
        <h1>{{ 'title.post_list'|trans }} MSZ INDEX</h1>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col">{{ 'label.title'|trans }}</th>
                    <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.published_at'|trans }}</th>
                    <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        {# it's not mandatory to set the timezone in localizeddate(). This is done to
                           avoid errors when the 'intl' PHP extension is not available and the application
                           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                        <td>{{ post.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</td>
                        <td class="text-right">
                            <div class="item-actions">
                                <a href="{{ path('admin_post_show', {id: post.id}) }}" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                                </a>

                                <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" align="center">{{ 'post.no_posts_found'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}


