{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_panel' %}

    {% block main %}
        <h1>Panel MSZ Hurra!</h1>

        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col">{{ 'label.title'|trans }}</th>
                    <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.published_at'|trans }}</th>
                    <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    {% endblock %}

