{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

    {% block main %}

        <p>
            <img src="{{ asset('images/' ~ post.headshot) }}" width="100%">
        </p>



        <h1>{{ post.title }}</h1>

        <p class="post-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
            <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
        </p>

        <div class="well">
            <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ post.summary }}</p>
        </div>

        {{ post.content|md2html }}


        {{ include('blog/_post_tags.html.twig') }}
    {% endblock %}

    {% block sidebar %}
        <div class="section">
            <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
            </a>
        </div>

        <div class="section">
            {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
        </div>



        {{ show_source_code(_self) }}
    {% endblock %}
