{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Cashback Company Investor Online Game{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="Cashback Game" href="{{ path('blog_rss') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('build/fontawesome/css/all.css') }}" >
            <link rel="stylesheet" href="{{ asset('build/css/animate.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/css/companyonline.css') }}" />
        {% endblock %}
        <script src="{{ asset('build/js/jquery-3.3.1.min.js') }}"></script>


        <script>

        </script>

    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header col-md-3 col-lg-2">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                Cashback Game
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('blog_index') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i> User
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_index') }}">
                                            <i class="fa fa-lock" aria-hidden="true"></i> Logowanie
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('admin_post_index') }}">
                                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{{ path('blog_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                                </li>

                                {#<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                                    </a>
                                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                        {% for locale in locales() %}
                                            <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{% else %}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a></li>
                                            {% endfor %}
                                    </ul>
                                </li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}
                        {{ render_esi(controller('FrameworkBundle:Template:template', {
                                'template': 'blog/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                    {% endblock %}
                </div>
            </div>

        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                        <p>{{ 'mit_license'|trans }}</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                        <p>
                            <a href="https://twitter.com/symfony" title="Symfony Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://symfony.com/blog/" title="Symfony Blog">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/common.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('build/js/companyonline.js') }}"></script>

    {% endblock %}

    {# it's not mandatory to set the timezone in localizeddate(). This is done to
       avoid errors when the 'intl' PHP extension is not available and the application
       is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
    <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
</body>
</html>