{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

    {#
        the homepage is a special page which displays neither a header nor a footer.
        this is done with the 'trick' of defining empty Twig blocks without any content
    #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><b>COMPANY</b> BUSINESS SIMULATOR ONLINE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('frontend') }}"><i class="fas fa-wine-glass"></i> Front </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('getdata') }}"><i class="fas fa-beer"></i> Data </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_index') }}"><i class="fas fa-coffee"></i> User </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}"><i class="fas fa-glass-martini"></i> Admin</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-xs btn-outline-primary">RUN</button>
                        <button type="button" class="btn btn-xs btn-outline-success">Sign up for free</button>

                    </li>
                    <li>        
                        <!--                            <button id="demo" 
                                                            type="button" 
                                                            onclick="myFunction();"
                                                            class="btn btn-lg btn-outline-success">
                                                        Button active
                                                    </button>-->

                    </li>
                </ul>
            </div>
        </div>
    </nav>






    <div class="container">
        <div class="page-header">
            <h1>Cashback Company Investor Online Game</h1>
            <h2 class="telewizorek">{{a}}</h2>
        </div>
        <hr>



        <!-- Button trigger modal -->
        {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>#}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="btn btn-block poptog"  aria-label="Close"><i class="fas fa-home"></i></button>
                    </div>

                    <div class="modal-body">

                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Praca</h4>
                                <hr>
                                <h1 class="card-title pricing-card-title">12:30 <small class="text-muted">11 DZIEŃ</small></h1>

                            </div>
                            <div class="card-body">


                                <div class="row text-center">
                                    <div class="col-sm-3 col-xs-3">      
                                        <button type="button" class="btn btn-sx btn-danger" data-toggle="popover" data-placement="left" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click </button>
                                    </div>
                                    <div class="col-sm-3 col-xs-3">3</div>
                                    <div class="col-sm-3 col-xs-3">3</div>
                                    <div class="col-sm-3 col-xs-3">
                                        <button type="button" class="btn btn-xs btn-danger" data-toggle="popover" data-placement="right" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click</button>
                                    </div>
                                </div>





                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block" data-dismiss="modal" aria-label="Close"><i class="fas fa-power-off"></i></button>

                    </div>
                </div>
            </div>
        </div>


        <section class="portfolio" id="portfolio">



            <div class="card-deck mb-3 text-center" >
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Marketing</h4>
                        <hr>
                        <h1 class="card-title pricing-card-title">12,500 <small class="text-muted">PLN</small></h1>

                    </div>
                    <div class="card-body text-left">



                        <table style="width:100%;">

                            <tr>
                                <td>Katalogi firm</td>
                                <td></td> 
                                <td class="open-dialog">
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"><i class="fas fa-map-marker-alt"></i> <b>10</b> <i class="fas fa-eye"></i> <b>1,100</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Reklama online</td>
                                <td></td> 
                                <td class="open-dialog"> 
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"><i class="fas fa-globe"></i> <b>20</b> <i class="fas fa-eye"></i> <b>5,200</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Reklama TV</td>
                                <td></td> 
                                <td class="open-dialog">
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"><i class="far fa-star"></i> <b>110</b> <i class="fas fa-eye"></i> <b>31,700</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Reklama Radio</td>
                                <td></td> 
                                <td> 
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"> <i class="fas fa-broadcast-tower"></i> <b>321</b> <i class="fas fa-eye"></i> <b>22,500</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Marketing Mix</td>
                                <td></td> 
                                <td>
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"><i class="far fa-envelope"></i> <b>31</b> <i class="fas fa-eye"></i> <b>1,000</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Reklama online</td>
                                <td></td> 
                                <td> 
                                    <button type="button" class="btn btn-sm btn-block text-right btn-outline-primary"> <i class="fas fa-globe-americas"></i> <b>66</b> <i class="fas fa-eye"></i> <b>4,500</b> <i class="fas fa-money-bill"></i></button>
                                </td>
                            </tr>

                        </table>
                        <hr>
                        <div class="progress">
                            <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>

                            <div class="progress-bar  " role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-success " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Praca</h4>
                        <hr>
                        <h1 class="card-title pricing-card-title">12:30 <small class="text-muted">11 DZIEŃ</small></h1>

                    </div>
                    <div class="card-body">



                        <table style="width:100%;">

                            <tr>
                                <td class="open-dialog">
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-users"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-laptop"></i></button>
                                </td> 
                                <td> 
                                    <button type="button"  class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-chart-pie"></i></button>  
                                </td>

                                <td> 
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-coffee"></i></button>  
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <button type="button"  class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-phone"></i></button>
                                </td> 
                                <td class="open-dialog">
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-user-friends"></i></button>
                                </td>
                                <td> 
                                    <button type="button"  data-toggle="modal" data-target="#exampleModal" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-money-bill"></i></button>  
                                </td>
                                <td> 
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-car-side"></i></button>  
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-bullhorn"></i></button>
                                </td> 
                                <td> 
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-business-time"></i></button>  
                                </td>
                                <td>
                                    <button type="button"  class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-user"></i></button>
                                </td>
                                <td> 
                                    <button type="button"  class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-gift"></i></button>  
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-chart-bar"></i></button>
                                </td> 
                                <td> 
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-envelope"></i></button>  
                                </td>
                                <td> 
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-building"></i></button>  
                                </td>
                                <td>
                                    <button type="button" class="btn btn-block btn-lg btn-outline-primary"><i class="fas fa-user-tie"></i></button>
                                </td>
                            </tr>
                        </table>


                    </div>

                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Rozwój</h4>
                        <hr>
                        <h1 class="card-title pricing-card-title">7 <small class="text-muted">PKT</small></h1>
                    </div>
                    <div class="card-body text-left">



                        <table style="width:100%;">

                            <tr>
                                <td>Workflow</td>
                                <td>10%</td> 
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-primary"><b>7</b> <i class="fas fa-bolt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Pracownicy</td>
                                <td>7%</td> 
                                <td class="open-dialog"> 
                                    <button type="button" class="btn btn-sm btn-outline-primary"><b>2</b> <i class="fas fa-bolt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Motywacja</td>
                                <td>1%</td> 
                                <td class="open-dialog">
                                    <button type="button" class="btn btn-sm btn-outline-primary"><b>1</b> <i class="fas fa-bolt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Usprawnienia</td>
                                <td>5%</td> 
                                <td> 
                                    <button type="button" class="btn btn-sm btn-outline-primary"><b>4</b> <i class="fas fa-bolt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Technologia</td>
                                <td>5%</td> 
                                <td> 
                                    <button type="button" class="btn btn-sm btn-outline-primary"><b>4</b> <i class="fas fa-bolt"></i></button>
                                </td>
                            </tr>
                        </table>


                        <hr>



                        Whether you're a student looking o share your projects, this template starting point!


                    </div>
                </div>
            </div>






            <div class="card-deck mb-3 text-center" data-id="bf5">
                <div class="card mb-4 shadow-sm open-dialog">
                    <img src="https://png.icons8.com/ios/100/000000/user-male.png">
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="http://kuchnie.brw.com.pl/typo3temp/pics/e3461010e3.jpg" height="100" >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="http://kuchnie.brw.com.pl/typo3temp/pics/e3461010e3.jpg" height="100" >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="http://kuchnie.brw.com.pl/typo3temp/pics/e3461010e3.jpg" height="100"  >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img data-id="bf5" data-role="SYFILIS" class="box-face" src="https://png.icons8.com/ios/2x/user-female-filled.png" height="100" >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img id="bf6" data-role="SYFILIS" data-pole="bf5" src="https://png.icons8.com/ios/2x/sad-male-filled.png" height="100" >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="http://kuchnie.brw.com.pl/typo3temp/pics/e3461010e3.jpg" height="100" >
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="https://png.icons8.com/ios/100/000000/distressed-woman.png">
                </div>
            </div>

            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Koszt</h4>

                    </div>
                    <h2 class="card-title pricing-card-title">5,500,000 <small class="text-muted">PLN</small></h2>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Sprzedaż</h4>

                    </div>
                    <h2 class="card-title pricing-card-title">125,500,000 <small class="text-muted">PLN</small></h2>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Zysk</h4>

                    </div>
                    <h2 class="card-title pricing-card-title">770,000 <small class="text-muted">PLN</small></h2>

                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Wycena</h4>

                    </div>
                    <h2 class="card-title pricing-card-title">1,500,000 <small class="text-muted">PLN</small></h2>
                </div>
            </div>






            {#<div class="card-deck mb-3 text-center">
                <div class="card mb-12 shadow-sm">


                    <div class="card-body">

                        <img src="https://static.anychart.com/images/gallery/staging/line-charts-line-chart.png" alt="Smiley face"  width="100%">
                    </div>
                </div>


            </div>#}


        </section>





    </div>




{% endblock %}