<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link href="{{ asset('build/bootemplate/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('build/bootemplate/css/heroic-features.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/cashback.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    {#<link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/node-waves/waves.css" rel="stylesheet">#}
    {#<link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/css/style.css" rel="stylesheet">#}
    {#<link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/css/themes/all-themes.css" rel="stylesheet">#}
    {#<link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/animate-css/animate.css" rel="stylesheet">#}
    {#<link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/morrisjs/morris.css" rel="stylesheet">#}

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navi">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_index') }}">
                        {{ 'action.browse_app'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">
                        Logowanie jako admin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">

        <h1 class="display-3">Amount <span id="dni"></span> power +<span id="zwrot"></span> %</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt

        </p>
        <p>.</p>

        <div class="slidecontainer">
            <input type="range" min="0" max="720" step="10" value="0" class="slider" id="myRange">
        </div>

    </header>

    <div class="row text-center">


    </div>


    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" id="okno1">
                {#<img class="card-img-top" src="http://placehold.it/500x325" alt="">#}
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, v ternano patero non incidunt odit ternano patero
                        vernano verre vero aliquid, onsectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" id="okno2">
                {#<img class="card-img-top" src="http://placehold.it/500x325" alt="">#}
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente, tempore debitis beatae culpa natus architecto.</p>

                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" id="okno3">
                {#<img class="card-img-top" src="http://placehold.it/500x325" alt="">#}
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <p><a href="#" class="btn btn-primary btn-lg">Nowe konto</a></p>

                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" id="okno4">
                {#<img class="card-img-top" src="http://placehold.it/500x325" alt="">#}
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <p><a href="#" class="btn btn-warning btn-lg">Zaloguj się!</a></p>
                </div>

            </div>
        </div>


    </div>
    <!-- /.row -->

</div>


<script src="{{ asset('build/bootemplate/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('build/bootemplate/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


<script>
    var slider = document.getElementById("myRange");
    var dni = document.getElementById("dni");
    var zwrot = document.getElementById("zwrot");
    var okno1 = document.getElementById('okno1');
    var okno2 = document.getElementById('okno2');
    var okno3 = document.getElementById('okno3');
    var okno4 = document.getElementById('okno4');
    var navi = document.getElementById('navi');

    dni.innerHTML = slider.value;
    zwrot.innerHTML = slider.value * 1.2;
    slider.oninput = function () {
        dni.innerHTML = this.value;
        zwrot.innerHTML = parseInt(this.value * 0.1, 10);
        if (this.value > 200) {
            okno1.style.display = 'block';
        } else {
            okno1.style.display = 'none';
        }
        if (this.value > 400) {
            okno2.style.display = 'block';
        } else {
            okno2.style.display = 'none';
        }
        if (this.value > 600) {
            okno3.style.display = 'block';
        } else {
            okno3.style.display = 'none';
        }
        if (this.value > 800) {
            okno4.style.display = 'block';
        } else {
            okno4.style.display = 'none';
        }

        if (this.value > 990) {
            //slider.disabled = 'true';
            navi.style.display = 'block';
        } else {
            navi.style.display = 'none';
        }


    }

</script>

<script language="javascript">
    window.onload = function () {
        document.getElementById("okno1").style.display = 'none';
        document.getElementById("okno2").style.display = 'none';
        document.getElementById("okno3").style.display = 'none';
        document.getElementById("okno4").style.display = 'none';
        document.getElementById("navi").style.display = 'none';

        document.getElementById("myRange").max = 1000;
        console.log(document.getElementById("myRange").max);
    }
</script>

{#<script language="javascript">#}
{#$(document).ready(function () {#}
{#setInterval(function () {#}
{#var pasek = document.getElementById("myRange");#}
{#pasek.value = Math.floor(Math.random() * 10) + 1;#}
{#console.log(pasek.value);#}
{#}, 750);#}
{#});#}
{#</script>#}
</body>

</html>
