{% extends 'base.html.twig' %}

{% block body_id 'login' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/js/login.js') }}"></script>
    {% endblock %}

    {% block main %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-5">
                <div class="well">
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                            <div class="form-group">
                                <label for="username">{{ 'label.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'label.password'|trans }}</label>
                                <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div id="login-help" class="col-sm-7">


                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'label.username'|trans }}</th>
                            <th scope="col">{{ 'label.password'|trans }}</th>
                            <th scope="col">{{ 'label.role'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>anna</td>
                            <td>anna1234</td>
                            <td><code>admin</code></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    {% endblock %}

    {% block sidebar %}


        {{ show_source_code(_self) }}
    {% endblock %}
